<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <div class="form-group">
        <label>Mot clé</label>
        <input type="text" [(ngModel)]= "motCle" (ngModelChange)="chercher()"/>
        <button class="btn btn-primary" (click)="chercher()">Chercher</button>
      </div>
      <table class="table table-striped">
        <tr>
          <th>ID</th><th>Titre</th><th>Description</th><th>Photo</th>
        </tr>
        <tr *ngFor="let a of pageArticle">
          <td>{{a.id}}</td>
          <td>{{a.titre}}</td>
          <td>{{a.description}}</td>
          <td>
            <img src="{{a.photo}}" class="img-thumbnail image">
          </td>
          <td><a (click)="onEditArticle(a)" class="clickable" data-toggle="modal" data-target="#myModal">Edit</a></td>
          <td><a (click)="onDeleteArticle(a)" class="clickable">Delete</a></td>
        </tr>
      </table>
      <nav aria-label="Ma pagination">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled' : currentpage==0}" >
            <a class="page-link clickable" (click)="gotoPage(currentpage-1)">Previous</a>
          </li>
          <li [ngClass]="{'active':i==currentpage}" *ngFor="let p of pages; let i=index" class="page-item">
            <a class="page-link clickable" (click)="gotoPage(i)">{{i+1}}</a>
          </li>
          <li class="page-item" [ngClass]="{'disabled' : currentpage==pages?.length-1}">
            <a class="page-link clickable" (click)="gotoPage(currentpage+1)">Next</a>
          </li>
        </ul>
      </nav>
      <button (click)="onNewArticle()" type="button" class="btn btn-primary spacer" data-toggle="modal" data-target="#myModal">
        Nouveau Article
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-white bg-primary">
        <h5 *ngIf="mode==0" class="modal-title" id="newArticleLabel">Nouveau article</h5>
        <h5 *ngIf="mode==1" class="modal-title" id="EditArticleLabel">Modifier l'article</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container spacer">
          <div class="form-group">
            <label for="titre">Titre</label>
            <input [(ngModel)]="article.titre" type="text" class="form-control" id="titre" placeholder="Entrer le titre" >
          </div>
          <div class="form-group" >
            <label for="description">Description</label>
            <input [(ngModel)]="article.description" type="text" class="form-control" id="description" placeholder="Entrer une description">
          </div>
          <div class="form-group">
            <label for="image">Photo</label>
            <input type="file" id="image" (change)="handleFileSelect($event)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="saveArticle()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
